language: python

# python versions to use during the tests
python:
    - "3.6"
    - "3.7"

# command to install dependencies
install:
    - pip install -r requirements.txt
    - python setup.py install

# command to run tests
script:
    - pytest

branches:
    only:
        - master

after_success:
    - coveralls
