<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>

        <!-- iOS specific -->
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" 
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block header %}
        {% endblock %}

    </head>

    <body>

    <main role="main" class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
    {% endblock %}

    </body>
</html>
